@import "vars";

@import "fonts";
@import "reset";
@import "global";


body {
    background-color: black;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 21px;
    color: $white;
}

@import "media";
    // Blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";