.catalogue {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    background-color: $white;
    color: $green;
    font-weight: 600;
    border-radius: 6px;
    padding: 0 21px;
    transition: color 0.3s, background-color 0.3s;

    & span {
      margin: 15px 12px 15px 18px;
    }

    & svg {
      fill: $green;
    }

    &--active {
      border-radius: 6px 6px 0 0;
      background-color: $white-cf;
      color: $green;
    }

    &:hover {
      background-color: $white-cf;
      color: $green;
    }
  }

  &:focus {
    background-color: $green-cat;
  }

  &__subnav {
    display: none;
    width: 240px;
    background-color: $white;
    border: 1px solid $white-e5;
    border-radius: 0 0 6px 6px;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
  }

  &__item {
    display: flex;
    border-bottom: 1px solid $gray-80;
  }

  &__link {
    color: $dark;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    padding: 15px 25px;
    border-left: 3px solid transparent;
    position: relative;
    transition: border-color 0.3s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $white-cf;
    }

    &:hover {
      border-left: 3px solid $green;
      color: $green;
    }

    &:active {
      color: $gray-c1;
      outline: 0;
    }
  }
}
