.footer {
  background-color: $black;

  &__logo {
    padding: 30px 0;
  }

  &__info {
    color: $white;
    border-bottom: 1px solid darken($white, 70%);
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0;
  }

  &__subscribe {
    margin-right: 62px;
  }

  &__form {
    display: flex;
    margin-top: 15px;
  }

  &__input {
    width: 180px;
    line-height: 40px;
    border-radius: 6px 0 0 6px;
    padding: 0 12px;
    border: 0;

    &::placeholder {
      color: $gray;
    }
  }

  &__btn {
    background-color: $green;
    width: 126px;
    height: 40px;
    padding: 12px 17px;
    border-radius: 0 6px 6px 0;
    border: 0;

    &:hover {
      background-color: $green;
      border-radius: 0 6px 6px 0;
    }

    &:focus {
      outline-color: $white-e5;
    }

    &:active {
      box-shadow: inset 0 4px 4px $dark;
    }
  }

  &__nav {
    column-count: 3;
    column-gap: 75px;
    margin-top: -10px;
    white-space: nowrap;
  }

  &__address {
    margin-top: -10px;
    color: $white;
  }

  &__item {
    padding: 12px 5px;
  }

  &__copy {
    padding: 25px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__card svg:not(:last-child) {
    margin-right: 25px;
  }
}

.social {
  display: flex;
  margin-top: -5px;

  &__item {
    @include effects;
  }

  &__link {
    padding: 13px 5px;
  }
}

.overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 300px;
  height: 100%;
  width: 100%;
  background-color: $gray-b0;
  opacity: 1;
}

.buy {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 475px;
  width: 100%;
  background-color: $white;
  color: $dark;
  z-index: 150;
  min-height: 100vh;

  &--active {
    display: grid;

    & .buy__overlay {
      display: block;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 10px;
    border: 1px solid $gray;
  }

  &__inner {
    line-height: 1.2;
  }

  &__title {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__close svg {
    fill: $dark;
  }

  &__list {
    background-color: $white-f6;
    flex-grow: 1;
  }

  &__item {
    background-color: $white;
    margin: 12px;
    border: 1px solid $gray-c1;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-between;

    svg {
      fill: $gray-c1;
    }
  }

  &__remove {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__img {
    margin: 12px;
  }

  &__desc {
    max-width: 170px;
  }

  &__caption {
    text-transform: none;
    font-weight: 600;
    margin-bottom: 5px;
    @include over(2);
  }

  &__price {
    display: inline;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: $gray-50;

    span {
      font: inherit;
      font-size: 14px;
      color: inherit;
    }
  }

  &__numbers {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-right: 12px;
  }

  &__total h3 {
    margin-left: 24px;
    margin-bottom: 23px;
  }

  &__btn {
    width: 100%;
    border-radius: 0;
    color: $white;
    background-color: $green;
    font-size: 18px;
    text-transform: none;

    &:hover {
      background-color: $green-0c;
    }
  }

  &__overlay {
    left: -475px;
  }
}

@media (max-width: 1280px) {
  .footer {
    &__subscribe {
      margin-right: 12px;
    }

    &__nav {
      column-gap: 12px;
    }

    &__address {
      margin-left: -60px;
    }
  }
}

@media (max-width: 950px) {
  .footer__logo {
    .logo {
      &__img {
        display: block;
        margin-bottom: 24px;
      }
    }
  }

  .footer__address {
    &--active {
      order: -1;
      padding-bottom: 24px;
      border-bottom: 1px solid $gray-b0;
      width: 100%;
      text-align: -webkit-center;
      padding-top: 265px;
      color: $black;
      position: fixed;
      z-index: 102;
      top: 0;
      left: 0;
      background-color: $white;
      width: 300px;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 0;

      & .overlay {
        display: unset;
      }
    }
  }
  .footer__address--active .footer__item {
    position: relative;
    font-size: 18px;
    line-height: 1.2;
    padding-left: 40px;
    max-width: 265px;
    padding-left: 70px;
    & svg {
      fill: $black;
    }

    &:nth-child(-n + 2):before {
      content: " ";
      position: absolute;
      top: 10px;
      left: 20px;
      width: 24px;
      @include bg();
    }

    &:nth-child(1):before {
      height: 24px;
      background-image: url("../images/icons/lines.svg");
    }

    &:nth-child(2):before {
      height: 33px;
      background-image: url("../images/icons/yes.svg");
      background-size: contain;
    }

    &:first-child span {
      display: none;
    }
  }

  .footer__address--active .social {
    margin-left: -60px;
  }

  .footer__nav {
    &--active {
      position: fixed;
      left: 0;
      top: 450px;
      color: $dark;
      display: flex;
      flex-direction: column;
      background-color: $white;
      width: 300px;

      & .footer__item {
        font-size: 18px;
        line-height: 1.2;
        padding-left: 25px;
      }
    }
  }

  .footer {
    &__wrap {
      flex-direction: column;
    }

    &__subscribe {
      padding-bottom: 15px;
      border-bottom: 1px solid $white;
    }

    &__nav {
      padding-bottom: 10px;
      border-bottom: 1px solid $white;
    }

    &__address {
      margin-left: 0;
    }
  }

  .footer__address--active .footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 685px) {
  .footer {
    &__input {
      width: 150px;
    }

    &__nav {
      column-count: 2;
    }

    &__card svg:not(:last-child) {
      margin-right: 15px;
    }
  }
}
