.header {
  &__top {
    background-color: $black;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 14px 0;
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__item {
    transition: background-color 0.3s, box-shadow 0.3s;

    &:not(:last-child) {
      margin-right: 45px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $white-cf;
    }
  }

  &__link {
    display: flex;
    align-items: flex-end;
    padding: 12px 3px;

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px $white-e7;
      border-radius: 3px;
    }
  }

  &__span {
    margin-left: 12px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 235px;
    width: 100%;
  }

  &__element {
    padding: 12px 3px;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $white-cf;
    }
  }

  &__detail {
    padding: 12px 3px;

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px $white-e7;
      border-radius: 3px;
    }
  }

  &__bottom {
    background-color: $green;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 83%;
    padding: 23px 0;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 12%;
  }

  &__list {
    position: relative;
    transition: box-shadow 0.3s, background-color 0.3s;

    &:hover {
      background-color: #4D800C;
      border-radius: 3px;
    }
  }

  &__user {
    display: block;
    padding: 9px 12px;
    transition: box-shadow 0.3s, background-color 0.3s;

    &:focus {
      border-radius: 3px;
      outline-color: $white-e5;
    }

    &:active {
      border-radius: 3px;
      outline: 0;

      .sprite--user {
        fill: #b0b0b0;
      }
    }
  }

  &__numb {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    color: #cf3e3b;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
}

.sprite {
  fill: $white;

  &--chevron {
    padding-left: 12px;
    fill: $green;
  }
  &--up {
    padding-right: 12px;
    padding-left: 0;
    transform: rotate(180deg);
  }

  &--visa {
    margin-right: 25px;
  }
}
