<footer class="footer">
  <div class="container">
    
      <div class="footer__logo">
        <a class="logo" href="#">
          
          <img
          class="logo__img"
          src="../assets/images/logo.svg"
          alt="Freshok"
          width="200"
          />
      </a>
    </div>
    </div>
    
      <div class="footer__info">
        <div class="container">
          <div class="footer__wrap">
          <div class="footer__subscribe">
          <span>
            Следите за нашими акциями
          </span>
          
          <form class="footer__form" action="/" method="post">
            <label class="footer__label">
              <span class="sr-only">Подписка на email рассылку</span>

              <input class="footer__input" type="email" name="email" placeholder="email@email.com" required>

            </label>
            <button class="btn footer__btn" type="submit">подписаться</button>
          </form>
        </div>

                <ul class="footer__nav">
                  <li class="footer__item">
                    <a class="footer__link" href="#">О нас</a>
                  </li>

                <li class="footer__item">
                  <a class="footer__link" href="#">Контакты</a>
                </li>

                <li class="footer__item">
                  <a class="footer__link" href="#">Публичная оферта</a>
                </li>

                  <li class="footer__item">
                  <a class="footer__link" href="#">Оплата и доставка</a>
                </li>

                <li class="footer__item">
                  <a class="footer__link" href="#">Вакансии</a>
                </li>

                <li class="footer__item">
                  <a class="footer__link" href="#">Акции</a>
                </li>

                  <li class="footer__item">
                    <a class="footer__link" href="#">Отзывы</a>
                </li>

                <li class="footer__item">
                  <a class="footer__link" href="#">Новости</a>
                </li>
              </ul>
        
        <ul class="footer__address">
        <li class="footer__item">
          
          <span>Горячая линия</span>
          <a class="footer__tel" href="tel:+7907288365">+7 907 288 365</a>
        
        </li>
        <li class="footer__item">
          
          <span>Санкт-Петербург, ул. Ленина, 1</span>
        
        </li>
        <li class="footer__item">
          
          <ul class="social">
            <li class="social__item">
            <a class="social__link" href="#">
              <svg class="sprite" width="32" height="32">
                <use href="../assets/images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
            
          <li class="social__item">
          <a class="social__link" href="#">
            <svg class="sprite" width="32" height="32">
              <use href="../assets/images/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
          
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="sprite" width="32" height="32">
              <use href="../assets/images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
            
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="sprite" width="32" height="32">
              <use href="../assets/images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
          
        </li>
      </ul>
    </div>
  </div>
</div>
  
  <div class="footer__copy">
    <div class="container">
          <div class="footer__inner">

          <div class="footer__name">© 2021 ФРЕШОК</div>
          
          <div class="footer__card">
            
          <svg class="sprite sprite--visa" width="93" height="29">
            <use href="../assets/images/sprite.svg#visa"></use>
          </svg>


          <svg class="sprite sprite--mc" width="49" height="29">
            <use href="../assets/images/sprite.svg#mc"></use>
          </svg>

        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
