<section class="slider">
  <ul class="slider__list">
    <li class="slider__item">
      <div class="slider__page">
        <div class="container">
          
        </div>
      </div>
    </li>
    <li class="slider__item">
      <div class="slider__page">
        <div class="container">
          
        </div>
      </div>
    </li>
    <li class="slider__item">
      <div class="slider__page">
        <div class="container">
          
        </div>
      </div>
    </li>
  </ul>

</section>