<section class="slider">
  <ul class="slider__wrap">
    <li class="slider__item slider__item--crt">
      <div class="container">
        <div class="slider__offer">
          <h1 class="title slider__title">свежачок вам в хату</h1>
          <span class="title title__span">Скидка -50%</span>

          <p>Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%.
            Торопитесь!</p>

          <button class="btn slider__btn" type="button">Купить сейчас</button>

        </div>
      </div>
    </li>

    <li class="slider__item slider__item--tom">
      <div class="container">
        <div class="slider__offer">
          <h1 class="title slider__title">НАКРУТИ СЕБЕ ТОМАТОВ</h1>
          <span class="title title__span">АКЦИЯ: 3 кг по цене 1</span>

          <p>Только с 12 по 15 июля скидка на домашние помидорчики</p>

          <button class="btn slider__btn" type="button">Купить сейчас</button>

        </div>
      </div>
    </li>

    <li class="slider__item slider__item--veg">
      <div class="container">
        <div class="slider__offer">
          <h1 class="title slider__title">
            Пусть остальные позеленеют от зависти
          </h1>

          <span class="title title__span">Распродажа зелени</span>
          <p></p>

          <button class="btn slider__btn" type="button">Купить сейчас</button>

        </div>
      </div>
    </li>
  </ul>

  <div class="benefits">
    <div class="container">
      <ul class="benefits__list">
        <li class="benefits__item benefits__item--del">
          <h2 class="benefits__title">Бесплатная доставка</h2>

          <span>Для заказов на сумму от 500 ₽</span>
        </li>

        <li class="benefits__item benefits__item--pay">
          <h2 class="benefits__title">Возврат товара</h2>

          <span>Если товары были испорчены</span>
        </li>

        <li class="benefits__item benefits__item--sup">
          <h2 class="benefits__title">Поддержка 24/7</h2>

          <span>Лучшие операторы</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="products">
  <div class="products__inner">
    <div class="container">
      <h2 class="caption">акции</h2>

      <ul class="filter">
        <li class="filter__item">
          <button class="filter__btn">все товары</button>
        </li>

        <li class="filter__item">
          <button class="filter__btn">новинки</button>
        </li>

        <li class="filter__item">
          <button class="filter__btn">хиты</button>
        </li>
      </ul>

      <div class="goods">
        <ul class="goods__item">

          <li class="goods__card">
            <span class="goods__card--new">новинка</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/pineapple.jpg"
                  alt="Ананас"
                  width="100",
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>4.5</span>
                    <div class="goods__star" data-rateyo-rating="4.5"></div>
                  </div>

                  <p>Ананас, 1 кг</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--many">в наличии</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--new">новинка</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/coffee.jpg"
                  alt="Кофе"
                  width="100",
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>4.9</span>
                    <div class="goods__star" data-rateyo-rating="4.9"></div>
                  </div>

                  <p>Кофе с коноплей органический Caffé Salomoni 250г</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--out">заканчивается</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--new">новинка</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/strawberry.jpg"
                  alt="Клубника"
                  width="100",
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>5.0</span>
                    <div class="goods__star" data-rateyo-rating="5.0"></div>
                  </div>

                  <p>Клубника, 1 кг</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--end">нет наличии</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--new">новинка</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/mango.jpg"
                  alt="Манго"
                  width="100",
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>5.0</span>
                    <div class="goods__star" data-rateyo-rating="5.0"></div>
                  </div>

                  <p>Манго, 1 кг</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--many">в наличии</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--new">новинка</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/salmon.jpg"
                  alt="Лосось"
                  width="100"
                  ,
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>4.9</span>
                    <div class="goods__star" data-rateyo-rating="4.9"></div>
                  </div>

                  <p>Лосось, 1 кг</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--many">в наличии</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--hit">хит</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/juice.jpg"
                  alt="Сок"
                  width="100"
                  ,
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>4.9</span>
                    <div class="goods__star" data-rateyo-rating="4.9"></div>
                  </div>

                  <p>Сок Granini овощной 100%, 0.5л</p>

                  <div class="goods__prices">
                    <span class="goods__stock goods__stock--out"
                      >заканчивается</span
                    >
                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--not">хит</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/basket.jpg"
                  alt="Фруктовая Корзина"
                  width="100",
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>4.8</span>
                    <div class="goods__star" data-rateyo-rating="4.8"></div>
                  </div>

                  <p>Фруктовая корзина, 1 шт</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--many">в наличии</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>

          <li class="goods__card">
            <span class="goods__card--hit">хит</span>
            <a class="goods__link-img" href="#">
              <div class="goods__wrap">
                <img
                  class="goods__img"
                  src="../assets//images/goods/pork.jpg"
                  alt="Свинина"
                  width="100",
                  height="100"
                />
                <div class="goods__info">
                  <div class="goods__rate">
                    <span>2.6</span>
                    <div class="goods__star" data-rateyo-rating="2.6"></div>
                  </div>

                  <p>Свинина мякоть, 1 кг</p>

                  <div class="goods__prices">

                    <span class="goods__stock goods__stock--many">в наличии</span>

                    <div class="goods__newprice">499₽</div>
                    <span class="goods__oldprice">599 ₽</span>

                  </div>
                </div>
              </div></a
            >
          </li>
        </ul>
      </div>

      <div class="btn goods__btn">Показать еще</div>

    </div>
  </div>
</section>

<section class="news">
  <div class="brands">
    <div class="container">
      <div class="brands__inner">
        <a class="brands__link" href="#">
          <svg class="sprite" width="80" height="34">
            <use href="../assets/images/sprite.svg#drink"></use>
          </svg>
        </a>

        <a class="brands__link" href="#">
          <svg class="sprite" width="80" height="58">
            <use href="../assets/images/sprite.svg#pepper"></use>
          </svg>
        </a>

        <a class="brands__link" href="#">
          <svg class="sprite" width="80" height="27">
            <use href="../assets/images/sprite.svg#cola"></use>
          </svg>
        </a>

        <a class="brands__link" href="#">
          <svg class="sprite" width="80" height="31">
            <use href="../assets/images/sprite.svg#pepsi"></use>
          </svg>
        </a>

        <a class="brands__link" href="#">
          <svg class="sprite" width="80" height="49">
            <use href="../assets/images/sprite.svg#redbull"></use>
          </svg>
        </a>

        <a class="brands__link" href="#">
          <svg class="sprite" width="80" height="59">
            <use href="../assets/images/sprite.svg#fanta"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="news__box">
    <div class="container">
      <div class="news__wrapper">
        <div class="news__top">

          <h2 class="caption news__caption">наши новости</h2>
          <a class="news__more" href="#">все новости</a>
          
        </div>
      </div>
    </div>
  </div>
</section>
