<section class="slider">
  <ul class="slider__wrap">
    <li class="slider__item slider__item--crt">
      <div class="container">
        <div class="slider__offer">
          <h1 class="title slider__title">свежачок вам в хату</h1>
          <span class="title title__span">Скидка -50%</span>

          <p>
            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%.
            Торопитесь!
          </p>

          <button class="btn slider__btn" type="button">Купить сейчас</button>
        </div>
      </div>
    </li>

    <li class="slider__item slider__item--tom">
      <div class="container">
        <div class="slider__offer">
          <h1 class="title slider__title">НАКРУТИ СЕБЕ ТОМАТОВ</h1>
          <span class="title title__span">АКЦИЯ: 3 кг по цене 1</span>
          <p>Только с 12 по 15 июля скидка на домашние помидорчики</p>

          <button class="btn slider__btn" type="button">Купить сейчас</button>
        </div>
      </div>
    </li>

    <li class="slider__item slider__item--veg">
      <div class="container">
        <div class="slider__offer">
          <h1 class="title slider__title">
            Пусть остальные позеленеют от зависти
          </h1>

          <span class="title title__span">Распродажа зелени</span>
          <p></p>

          <button class="btn slider__btn" type="button">Купить сейчас</button>
        </div>
      </div>
    </li>
  </ul>


  <div class="container">
  <ul class="benefits">
    <li class="benefits__item benefits__item--del">
      <h2 class="benefits__title">Бесплатная доставка</h2>

      <span>Для заказов на сумму от 500 ₽</span>
    </li>

    <li class="benefits__item benefits__item--pay">
      <h2 class="benefits__title">Возврат товара</h2>

      <span>Если товары были испорчены</span>
    </li>

    <li class="benefits__item benefits__item--sup">
      <h2 class="benefits__title">Поддержка 24/7</h2>

      <span>Лучшие операторы</span>
    </li>
  </ul>
</div>
</section>
