<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header }}

    <main>
      <section class="top">
        <div class="container">
          <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Главная</a>
              </li>

              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Каталог товаров</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="shop">
        <div class="container">
          <h2 class="range__caption">Каталог товаров</h2>
          <div class="shop__wrap">

          <aside class="aside">
            <ul class="aside__list">
              <li class="aside__item">
                <h3 class="range__caption aside__caption">Категории</h3>

                <ul class="inner">
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Овощи и фрукты</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Бакалея</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Молочные продукты</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Хлеб</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Мясо</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Колбаса</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Рыба</button>
                  </li>
                  <li class="inner__item">
                    <button class="inner__btn" type="button">Алкоголь</button>
                  </li>
                </ul>
              </li>

                <li class="aside__item">
                  <h3 class="range__caption aside__caption">Предложения</h3>

                  <ul class="inner">
                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Со скидкой</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Новинка</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Хит</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>
                  </ul>
                </li>

                <li class="aside__item">
                  <h3 class="range__caption aside__caption">Бренд</h3>

                  <ul class="inner">
                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">CocaCola</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Pepsi</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Sprite</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Fanta</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">RedBull</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                    <li class="inner__item">
                      <form class="inner__form" action="#">
                        <label class="inner__label">
                        <input class="inner__input" type="checkbox">
                        <span class="inner__checkbox"></span>
                        <span class="inner__text">Dr Pepper</span>
                        <div class="inner__box">
                        </div>
                      </label>
                      </form>
                    </li>

                  </ul>
                </li>


              <li class="aside__item">
                <h3 class="range__caption aside__caption">Цена</h3>
                <form class="aside__form" action="/">

                  <div class="aside__fromto">
                    <label><span>от</span><input class="aside__from" type="text"><span>₽</span></label>
                    <label><span>до</span><input class="aside__from aside__to" type="text"><span>₽</span></label>
                  </div>

                <input
                  class="aside__input"
                  type="text"
                  name="my_range"
                  data-type="double"
                  data-min="0"
                  data-max="1300"
                  data-from="100"
                  data-to="1000"
                />
              </form>
              </li>
            </ul>
          </aside>


          <div class="top-goods range">
            <div class="shop__filters">
              <form action="">
              <select class="shop__sort">
                <option value="">По названию</option>
                <option value="">По популярности</option>
                <option value="">Сначала дешевые</option>
                <option value="">Сначала дорогие</option>
                <option value="">По алфавиту</option>
              </select>
              
              <select class="shop__sort shop__sort--long">
                <option value="">по 12</option>
                <option value="">по 18</option>
                <option value="">по 24</option>
                <option value="">по 30</option>
                <option value="">по 36</option>
              </select>
            </form>

              <div class="shop__buttons">
                <button class="shop__btn button__grid shop__btn--active" type="button">
                  <svg width="47" height="47">
                      <use href="assets/images/sprite.svg#grid"></use>
                    </svg>
                </button>
                <button class="shop__btn button__list" type="button">
                  <svg width="47" height="47">
                      <use href="assets/images/sprite.svg#grid-long"></use>
                    </svg>
                </button>
              </div>
          </div>shop__list   shop__card   shop__stock

          <div class="stock-rate">
            <span class="stock stock--many shop__stock">в наличии</span>

            <div class="rate shop__rate">
              <span>3.9</span>
              <div class="star" data-rateyo-rating="3.9"></div>
            </div>
          </div>

            <ul class="shop__list">
              <li class="card mix category-a">
                <article>
                  <div class="promo">
                    <span class="promo__span promo__span--new">новинка</span>
                    <span class="promo__span promo__span--sale">-50%</span>
                  </div>
  
                  <a class="card__fav" href="#">
                    <span class="sr-only">добавить в избранное</span>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>
  
                  <div class="top-goods__wrap">
                    <a class="card__zoom" href="#">
                      <div class="sr-only">увеличить картинку товара</div>
                      <svg class="sprite" width="21" height="20">
                        <use href="assets/images/sprite.svg#search"></use>
                      </svg>
                    </a>
  
                    <a class="card__link" href="#">
                      <span class="sr-only">карточка товара</span>
                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Ананас"
                        width="300"
                        height="225"
                      />
                      <div class="card__info">
                        
                        <div class="stock-rate">
                          <span class="stock stock--many shop__stock">в наличии</span>
                          
                          <div class="rate shop__rate">
                            <span>3.9</span>
                            <div class="star" data-rateyo-rating="3.9"></div>
                          </div>
                        </div>
                        <h3 class="card__title">Ананас, 1 кг</h3>
                        <div class="card__prices">
                          <span class="card__oldprice top-goods__oldprice"
                            >1999<span>₽</span></span
                          >
                          <div class="card__newprice">99<span>₽</span></div>
                        </div>
                      </div>
                    </a>
                  </div>
  
                  <form class="counter top-goods__form" action="/">
                    <div class="counter__amount top-goods__amount">
                      <button
                        class="counter__minus"
                        type="button"
                        onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                      >
                        -
                      </button>
                      <input
                        class="counter__input"
                        type="number"
                        name="/"
                        value="1"
                        min="1"
                        max="99"
                        step="1"
                      />
                      <button
                        class="counter__plus"
                        type="button"
                        onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                      >
                        +
                      </button>
                    </div>
  
                    <button class="user top-goods__cart" type="button">
                      <svg class="sprite sprite--user" width="16" height="16">
                        <use href="assets/images/sprite.svg#cart"></use>
                      </svg>
                    </button>
                  </form>
                </article>
              </li>

              <li class="goods__card shop__card mix category-b">
                <article>
                  <div class="promo"></div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">увеличить картинку товара</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Лимон"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--end shop__stock">нет в наличии</span>

                        <div class="rate shop__rate">
                          <span>5</span>
                          <div class="star" data-rateyo-rating="5"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">Лимон, 1 кг</h3>

                        <div class="goods__prices">
                          <span
                            class="goods__oldprice top-goods__oldprice"
                          ></span>
                          <div class="top-goods__newprice">199₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="0"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button class="user top-goods__cart" type="button">
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>

              <li class="goods__card shop__card mix category-c">
                <article>
                  <div class="promo">
                    <span class="promo__span promo__span--hit">хит</span>
                  </div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">увеличить картинку товара</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Питахайя"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--out shop__stock">заканчивается</span>

                        <div class="rate shop__rate">
                          <span>4.1</span>
                          <div class="star" data-rateyo-rating="4.1"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">
                          Питахайя красная с белой мякотью, 1шт
                        </h3>

                        <div class="goods__prices">
                          <span
                            class="goods__oldprice top-goods__oldprice"
                          ></span>
                          <div class="top-goods__newprice">1019₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="0"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button class="user top-goods__cart" type="button">
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>

              <li class="goods__card shop__card mix category-d">
                <article>
                  <div class="promo"></div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">увеличить картинку товара</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Кетчуп"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--many shop__stock">в наличии</span>

                        <div class="rate shop__rate">
                          <span>4.7</span>
                          <div class="star" data-rateyo-rating="4.7"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">
                          Кетчуп томатный детский органический Bio-Zentrale
                          500мл, 1 шт
                        </h3>

                        <div class="goods__prices">
                          <span
                            class="goods__oldprice top-goods__oldprice"
                          ></span>
                          <div class="top-goods__newprice">600₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="0"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button
                        class="user top-goods__cart"
                        type="button"
                        onclick="plus_modifier_count_product();"
                      >
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>

              <li class="goods__card shop__card mix category-a">
                <article>
                  <div class="promo">
                    <span class="promo__span promo__span--hit">хит</span>
                  </div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">увеличить картинку товара</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Морковь"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--many shop__stock">в наличии</span>

                        <div class="rate shop__rate">
                          <span>2.6</span>
                          <div class="star" data-rateyo-rating="2.6"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">
                          Морковь молодая с бабушкиной грядки, 1кг
                        </h3>

                        <div class="goods__prices">
                          <span
                            class="goods__oldprice top-goods__oldprice"
                          ></span>
                          <div class="top-goods__newprice">49₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="1"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button class="user top-goods__cart" type="button">
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>

              <li class="goods__card shop__card mix category-b">
                <article>
                  <div class="promo">
                    <span class="promo__span promo__span--sale">-30%</span>
                  </div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">увеличить картинку товара</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Напиток"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--end shop__stock">нет в наличии</span>

                        <div class="rate shop__rate">
                          <span>3.6</span>
                          <div class="star" data-rateyo-rating="3.6"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">
                          Напиток сокосодержащий Sanpellegrino Aranciata Orange
                          Красный апельсин безалкогольный
                        </h3>

                        <div class="goods__prices">
                          <span class="goods__oldprice top-goods__oldprice"
                            >299 ₽</span
                          >
                          <div class="top-goods__newprice">199₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="1"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button class="user top-goods__cart" type="button">
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>

              <li class="goods__card shop__card mix category-c">
                <article>
                  <div class="promo">
                    <span class="promo__span promo__span--new">новинка</span>
                  </div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">добавить в избранное</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Кофе"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--out shop__stock">заканчивается</span>

                        <div class="rate shop__rate">
                          <span>4.9</span>
                          <div class="star" data-rateyo-rating="4.9"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">
                          Кофе с коноплей органический Caffé Salomoni 250г
                        </h3>

                        <div class="goods__prices">
                          <span
                            class="goods__oldprice top-goods__oldprice"
                          ></span>
                          <div class="top-goods__newprice">877₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="1"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button class="user top-goods__cart" type="button">
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>

              <li class="goods__card shop__card mix category-d">
                <article>
                  <div class="promo">
                    <span class="promo__span promo__span--new">новинка</span>
                  </div>

                  <a class="top-goods__link" href="#">
                    <div class="sr-only">добавить в избранное</div>
                    <svg class="sprite sprite--fav" width="32" height="29">
                      <use href="assets/images/sprite.svg#fav"></use>
                    </svg>
                  </a>

                  <a class="goods__link-img" href="#">
                    <div class="sr-only">карточка товара</div>
                    <div class="top-goods__wrap">
                      <a class="goods__zoom" href="#">
                        <div class="sr-only">увеличить картинку</div>
                        <svg class="sprite" width="21" height="20">
                          <use href="assets/images/sprite.svg#search"></use>
                        </svg>
                      </a>

                      <img
                        class="top-goods__img"
                        src="assets//images/goods/raspberry.png"
                        alt="Перец"
                        width="300"
                        ,
                        height="225"
                      />

                      <div class="stock-rate">
                        <span class="stock stock--many shop__stock">в наличии</span>

                        <div class="rate shop__rate">
                          <span>4.6</span>
                          <div class="star" data-rateyo-rating="4.6"></div>
                        </div>
                      </div>
                      
                      <div class="goods__info">
                        <h3 class="goods__title">Перец оранжевый, 1кг</h3>

                        <div class="goods__prices">
                          <span
                            class="goods__oldprice top-goods__oldprice"
                          ></span>
                          <div class="top-goods__newprice">349₽</div>
                        </div>
                      </div>
                    </div>

                    <form class="counter top-goods__form" action="/">
                      <div class="counter__amount top-goods__amount">
                        <button
                          class="counter__minus"
                          type="button"
                          onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"
                        >
                          -
                        </button>
                        <input
                          class="counter__input"
                          type="number"
                          name="/"
                          value="1"
                          min="1"
                          max="99"
                          step="1"
                        />
                        <button
                          class="counter__plus"
                          type="button"
                          onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"
                        >
                          +
                        </button>
                      </div>

                      <button class="user top-goods__cart" type="button">
                        <svg class="sprite sprite--user" width="16" height="16">
                          <use href="assets/images/sprite.svg#cart"></use>
                        </svg>
                      </button>
                    </form>
                  </a>
                </article>
              </li>
            </ul>

          <div class="btn-small range__btn">
            <button class="btn small__btn range__button" type="button">Показать еще</button>
          </div>
          </div>
        </div>
        </div>
      </section>

      <div class="benefits">
        <div class="container">
          <ul class="benefits__list">
            <li class="benefits__item">
              <svg class="sprite" width="50" height="50">
                <use href="assets/images/sprite.svg#moto"></use>
              </svg>

              <div class="benefits__desc">
                <div class="benefits__title">Бесплатная доставка</div>
                <span>Для заказов на сумму от 500 ₽</span>
              </div>
            </li>

            <li class="benefits__item">
              <svg class="sprite" width="50" height="50">
                <use href="assets/images/sprite.svg#pay"></use>
              </svg>

              <div class="benefits__desc">
                <div class="benefits__title">Возврат товара</div>
                <span>Если товары были испорчены</span>
              </div>
            </li>

            <li class="benefits__item">
              <svg class="sprite" width="50" height="50">
                <use href="assets/images/sprite.svg#sup"></use>
              </svg>

              <div class="benefits__desc">
                <div class="benefits__title">Поддержка 24/7</div>
                <span>Лучшие операторы</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>

    {{> footer }}

    <script src="assets/lib/jquery-3.6.1.min.js"></script>
    <script src="assets/lib/mixitup.min.js"></script>
    <script src="assets/lib/slick.min.js"></script>
    <script src="assets/lib/jquery.rateyo.min.js"></script>
    <script src="assets/lib/swiper-bundle.min.js"></script>
    <script src="assets/lib/ion.rangeSlider.min.js"></script>
    <script src="assets/lib/jquery.formstyler.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
