<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    <main>
        
      <section class="top">
        <div class="container">
          <div class="breadcrumbs">
            <div class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Главная</a>
              </li>
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">Каталог товаров</a>
              </li>
            </div>
          </div>
        </div>
      </section>

    </main>


    {{> footer }}
    
    <script src="assets/lib/jquery-3.6.1.min.js"></script>
    <script src="assets/lib/mixitup.min.js"></script>
    <script src="assets/lib/slick.min.js"></script>
    <script src="assets/lib/swiper-bundle.min.js"></script>
    <script src="assets/js/app.js"></script>
    
</body>
</html>